body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #8c8c8c;
}

a:hover {
  color: #00d100;
  transition: 300ms;
  /* Perejimas */
}

img {
  width: 100%;
  height: 100%;
}

hr {
  margin: 40px 0px;
  border: 1px solid #e8e8e8;
  background-color: #e8e8e8;
}

.top-bar-header {
  position: sticky;
  top: 0px;
  z-index: 9999;
  height: 120px;
  padding: 15px 60px 0px 60px;
  background-color: white;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  height: 75px;
  width: 150px;
}

.header-main-info {
  color: #8c8c8c;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-main-info div {
  margin-top: 6px;
}

.header-main-info div span {
  margin-left: 10px;
}

.header-main-info nav {
  margin-top: 10px;
}

.header-main-info nav a {
  margin-left: 12px;
  color: #9c9c9c;
}

.header-main-info nav a:hover {
  color: #b9b9b9;
}

.percents {
  color: #00d100;
}

.platform-name {
  font-size: 0.75rem;
}

.nav-secondary {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.hero {
  background-image: url("images/green-leaves.jpg");
  position: relative;
  height: 500px;
}

.hero::before {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.people-image {
  display: flex;
  justify-content: center;
}

.people-image img {
  margin-top: -200px;
  z-index: 999;
  width: 500px;
}

.container {
  background-color: #f4f4f4;
  padding: 0px 40px;
}

.content {
  padding: 30px;
  background-color: white;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-header a {
  color: #00d100;
  font-size: 12px;
}

.news {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 30%;
  color: black;
  transition: 1s;
  padding: 10px;
}

.card:hover {
  padding: 0px;
}

.card p {
  font-size: 14px;
  color: #9c9c9c;
}

.card .read-more {
  font-size: 12px;
  color: #00d100;
}

.card:hover {
  opacity: 0.7;
}

footer nav {
  text-align: center;
}

footer nav a {
  color: #9c9c9c;
  font-size: 14px;
  padding: 0px 14px;
  border-right: 1px solid #9c9c9c;
  transition: 500ms;
}

footer nav a:last-child {
  border-right: none;
}

footer nav a:hover {
  opacity: 0.8;
}

.nav-hero {
  display: none;
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 968px) {
  .nav-secondary {
    display: none;
  }

  .nav-hero {
    position: relative;
    display: block;
    background-color: rgba(233, 233, 233, 0.8);
    text-align: right;
  }

  .nav-hero a {
    display: block;
    padding: 10px;
    margin-right: 20px;
  }
}

/* Phone */
@media only screen and (max-width: 768px) {
  .top-bar-header {
    height: 100%;
  }

  .header-main {
    justify-content: center;
  }

  .logo-container {
    width: 250px;
    height: 100px;
  }

  .nav-secondary {
    display: none;
  }

  .nav-hero {
    position: relative;
    display: block;
    background-color: rgba(233, 233, 233, 0.8);
    text-align: center;
  }

  .nav-hero a {
    display: block;
    padding: 10px;
  }

  .header-main-info {
    display: none;
  }

  .people-image img {
    margin-top: -150px;
    width: 350px;
  }

  .news {
    display: block;
  }

  .card {
    width: 100%;
    display: flex;
  }

  .card .card-image {
    width: 40%;
  }

  .card .card-column {
    width: 60%;
    padding-left: 20px;
  }

  .container {
    padding: 0;
  }

  footer nav a {
    display: block;
    font-size: 16px;
    border-right: none;
    margin-bottom: 10px;
  }
}
