body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #8c8c8c;
}

a:hover {
  color: #00d100;
  transition: 300ms;
  /* Perejimas */
}

img {
  width: 100%;
  height: 100%;
}

hr {
  margin: 40px 0px;
  border: 1px solid #e8e8e8;
  background-color: #e8e8e8;
}

/* Header */

.top-bar-header {
  position: sticky;
  top: 0px;
  z-index: 9999;
  height: 120px;
  padding: 15px 60px 0px 60px;
  background-color: white;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  height: 75px;
  width: 150px;
  transition: 300ms;
}

.logo-container:hover {
  opacity: 0.7;
}

.header-main-info {
  color: #8c8c8c;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-main-info div {
  margin-top: 6px;
}

.header-main-info div span {
  margin-left: 10px;
}

.header-main-info nav {
  margin-top: 10px;
}

.header-main-info nav a {
  margin-left: 12px;
  color: #9c9c9c;
}

.header-main-info nav a:hover {
  color: #b9b9b9;
}

.percents {
  color: #00d100;
}

.platform-name {
  font-size: 0.75rem;
}

.nav-secondary {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* Footer */

footer nav {
  text-align: center;
}

footer nav a {
  color: #9c9c9c;
  font-size: 14px;
  padding: 0px 14px;
  border-right: 1px solid #9c9c9c;
  transition: 500ms;
}

footer nav a:last-child {
  border-right: none;
}

footer nav a:hover {
  opacity: 0.8;
}

/* Common */

.container {
  background-color: #f4f4f4;
  padding: 0px 40px;
}

.content {
  padding: 30px;
  background-color: white;
}

/* Main page content */

.hero {
  background-image: url("images/green-leaves.jpg");
  position: relative;
  height: 500px;
}

.hero::before {
  position: absolute;
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.people-image {
  display: flex;
  justify-content: center;
}

.people-image img {
  margin-top: -200px;
  z-index: 999;
  width: 500px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-header a {
  color: #00d100;
  font-size: 12px;
}

.news {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 30%;
  color: black;
  transition: 1s;
  padding: 10px;
}

.card:hover {
  padding: 0px;
}

.card .card-image {
  position: relative;
}

.card .card-image::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(204, 216, 35, 0.5);
}

.card:first-child .card-image::before {
  background-color: rgba(206, 65, 65, 0.5);
}

.card:last-child .card-image::before {
  background-color: rgba(77, 206, 65, 0.5);
}

.card p {
  font-size: 14px;
  color: #9c9c9c;
}

.card .read-more {
  font-size: 12px;
  color: #00d100;
}

.card:hover {
  opacity: 0.7;
}

.nav-hero {
  display: none;
}

/* Cereers page */

.page-header {
  background-color: #00d100;
  color: #ffffff;
  padding: 2px 80px;
}

.route {
  margin-bottom: 30px;
}

.active {
  color: #00d100 !important;
}

.page-content {
  display: flex;
  min-height: 50vh;
}

.page-content .left-sidebar {
  width: 30%;
}

.page-content .left-sidebar li {
  margin-bottom: 16px;
  font-size: 18px;
}

.page-content .left-sidebar ul {
  list-style: none;
}

.page-content .left-sidebar a::before {
  content: "\2022";
  color: #00d100;
  display: inline-block;
  width: 2em;
  margin-left: -2em;
}

.page-content .right-section {
  width: 70%;
  padding-left: 40px;
  border-left: 2px solid #e8e8e8;
}

.page-content .right-section h3 {
  margin: 0;
}

.page-content .right-section .numbers-container {
  display: flex;
}

.page-content .right-section .numbers-container .left-side,
.page-content .right-section .numbers-container .right-side {
  width: 50%;
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 968px) {
  .nav-secondary {
    display: none;
  }

  .nav-hero {
    position: relative;
    display: block;
    background-color: rgba(233, 233, 233, 0.8);
    text-align: right;
  }

  .nav-hero a {
    display: block;
    padding: 10px;
    margin-right: 20px;
  }
}

/* Phone */
@media only screen and (max-width: 768px) {
  .top-bar-header {
    height: 100%;
  }

  .header-main {
    justify-content: center;
  }

  .logo-container {
    width: 250px;
    height: 100px;
  }

  .nav-secondary {
    display: none;
  }

  .nav-hero {
    position: relative;
    display: block;
    background-color: rgba(233, 233, 233, 0.8);
    text-align: center;
  }

  .nav-hero a {
    display: block;
    padding: 10px;
  }

  .header-main-info {
    display: none;
  }

  .people-image img {
    margin-top: -150px;
    width: 350px;
  }

  .news {
    display: block;
  }

  .card {
    width: 100%;
    display: flex;
  }

  .card .card-image {
    width: 40%;
  }

  .card .card-column {
    width: 60%;
    padding-left: 20px;
  }

  .container {
    padding: 0;
  }

  footer nav a {
    display: block;
    font-size: 16px;
    border-right: none;
    margin-bottom: 10px;
  }
}
